
body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}
#buttons :hover{
    color: aqua;
}

#buttons li{
    text-align: right;
    float: right;
    margin-right: 60px;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

footer{
    position: fixed;
    bottom:  0;
    width: 100%;
    text-align: center;
    color: rgb(0, 17, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a{
    font-weight: bold;
}

#yatama{
    color: blue;
}

h6{
    text-align: center;
    margin-top: 100px;
}
.qr{
    position: fixed; 
    bottom:20%; 
    right: 5%;
}
@media (max-width: 768px) {
    /* Any CSS rules you type inside these brackets 
       will ONLY activate on screens smaller than 768px */
       
    body {
        /* Your mobile styles go here */
    }
    footer{
        position: static !important;
        margin-top:20px !important;
    }
    ul li, #buttons li{
        font-size: smaller;
        float: none !important;
        margin-right: 0 !important;
    }
    .qr{
        position: static !important;
        margin-top: 100px !important;
    }
}
